# Assignment 4B

Version 1.01

Members: 
1. Mikaela Aquino
2. Kirsten Cuenco
3. Jay Lui
4. Nygel Ramos
5. Paris Tan

**Prerequisite:** You need to have gone through Assignment 4A to work through the numbers below.

To make sure that you've done the work, perform checks by running the next few cells below:

In [3]:
import pymongo

In [4]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

print(myclient.list_database_names())

['admin', 'config', 'hr', 'local', 'order_management', 'products']

You should see the following databases:
* order_management
* products
* hr

Let's create handlers for each below:

In [5]:
products_db = myclient["products"]
order_management_db = myclient["order_management"]
hr_db = myclient["hr"]

Let's revisit the employees collection.

In [7]:
employees_col = hr_db["employees"]

[e for e in employees_col.find()]

[{'_id': 1, 'first_name': 'Bong', 'last_name': 'Olpoc', 'base_pay': 2200.0},
 {'_id': 2,
  'first_name': 'Chums',
  'last_name': 'Uy',
  'base_pay': 1650.0000000000002},
 {'_id': 3,
  'first_name': 'Joaqs',
  'last_name': 'Gonzales',
  'base_pay': 1100.0},
 {'_id': 4, 'first_name': 'Joben', 'last_name': 'Ilagan', 'base_pay': 1100.0},
 {'_id': 5, 'first_name': 'Sean', 'last_name': 'Uy', 'base_pay': 2200.0},
 {'_id': 6,
  'first_name': 'Stephen',
  'last_name': 'Chan',
  'base_pay': 1650.0000000000002}]

Let's assign an employee id to make it easier to reference. The convention we will use is just to prefix a year, followed by `_id` with padded zeros.

In [8]:
# we will have to update one document at a time, unfortunately

for e in employees_col.find({}):    
    # print("{}".format(str(e["_id"]).zfill(3)))
    employee_id = "19{}".format(str(e["_id"]).zfill(4))
    print(employee_id)
    employees_col.update_one({"_id":e["_id"]},{"$set":{"employee_id":employee_id}})

190001
190002
190003
190004
190005
190006

In [9]:
# check if new column employee_id was created
for x in employees_col.find():
    print(x)

{'_id': 1, 'first_name': 'Bong', 'last_name': 'Olpoc', 'base_pay': 2200.0, 'employee_id': '190001'}
{'_id': 2, 'first_name': 'Chums', 'last_name': 'Uy', 'base_pay': 1650.0000000000002, 'employee_id': '190002'}
{'_id': 3, 'first_name': 'Joaqs', 'last_name': 'Gonzales', 'base_pay': 1100.0, 'employee_id': '190003'}
{'_id': 4, 'first_name': 'Joben', 'last_name': 'Ilagan', 'base_pay': 1100.0, 'employee_id': '190004'}
{'_id': 5, 'first_name': 'Sean', 'last_name': 'Uy', 'base_pay': 2200.0, 'employee_id': '190005'}
{'_id': 6, 'first_name': 'Stephen', 'last_name': 'Chan', 'base_pay': 1650.0000000000002, 'employee_id': '190006'}

### 1) Logging Sales Orders

Let's create a function `create_sales_order(collection, shopping_cart)` that takes on a MongoDB collection and a shopping cart directory as parameters and inserts the data directly as a document in the passed collection parameter.

But first, we need to create the collection **sales_orders** in **order_management**:

In [10]:
sales_orders_col = order_management_db["sales_orders"]

#### 1a) Insert existing shopping carts to the new collection

Existing shopping cart documents have already been defined below. Insert into the new collection. Let MongoDB handle creating the new `_id`s so no need to define these.

(10 points)

In [11]:
from datetime import datetime

shopping_cart_list = [
    {"transaction_date":datetime.strptime('Jul 1 2019  1:30PM', '%b %d %Y %I:%M%p'),
     "customer_id":1,
     "clerk_id":"190002",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
    {"transaction_date":datetime.strptime('Jul 1 2019  1:35PM', '%b %d %Y %I:%M%p'),
     "customer_id":2,
     "clerk_id":"190001",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
    {"transaction_date":datetime.strptime('Jul 1 2019  3:30PM', '%b %d %Y %I:%M%p'),
     "customer_id":3,
     "clerk_id":"190003",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
    {"transaction_date":datetime.strptime('Jul 1 2019  3:30PM', '%b %d %Y %I:%M%p'),
     "customer_id":4,
     "clerk_id":"190004",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
    {"transaction_date":datetime.strptime('Jul 1 2019  4:30PM', '%b %d %Y %I:%M%p'),
     "customer_id":5,
     "clerk_id":"190001",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
    {"transaction_date":datetime.strptime('Jul 1 2019  5:30PM', '%b %d %Y %I:%M%p'),
     "customer_id":6,
     "clerk_id":"190006",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
    {"transaction_date":datetime.strptime('Jul 1 2019  6:30PM', '%b %d %Y %I:%M%p'),
     "customer_id":7,
     "clerk_id":"190005",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
]

In [12]:
shopping_cart_list

[{'transaction_date': datetime.datetime(2019, 7, 1, 13, 30),
  'customer_id': 1,
  'clerk_id': '190002',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'transaction_date': datetime.datetime(2019, 7, 1, 13, 35),
  'customer_id': 2,
  'clerk_id': '190001',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'transaction_date': datetime.datetime(2019, 7, 1, 15, 30),
  'customer_id': 3,
  'clerk_id': '190003',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'transaction_date': datetime.datetime(2019, 7, 1, 15, 30),
  'customer_id': 4,
  'clerk_id': '190004',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'transaction_date': datetime.datetime(2019, 7, 1, 16, 30),
  'customer_id': 5,
  'clerk_id': '190001',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'transaction_date': datetime.datetime(2019, 7, 1, 17, 30),
  'customer_id': 6,
  'clerk_id': '190006',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'transaction_date': datetime.datetime(2019, 7, 1, 18, 30),
  'customer_id': 7,
  'clerk_id': '190005',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]}]

In [15]:
## write code to insert to new collection below
## ---------------------------------------------


sales_orders_col.insert_many(shopping_cart_list)

for x in sales_orders_col.find():
    print(x)

## if you want to repeat the process due to a mistake, run the following line:
# sales_orders_col.delete_many({})

{'_id': ObjectId('5d344a6d0b6d5c4c59e624e4'), 'transaction_date': datetime.datetime(2019, 7, 1, 13, 30), 'customer_id': 1, 'clerk_id': '190002', 'total': 400, 'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200}, {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]}
{'_id': ObjectId('5d344a6d0b6d5c4c59e624e5'), 'transaction_date': datetime.datetime(2019, 7, 1, 13, 35), 'customer_id': 2, 'clerk_id': '190001', 'total': 400, 'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200}, {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]}
{'_id': ObjectId('5d344a6d0b6d5c4c59e624e6'), 'transaction_date': datetime.datetime(2019, 7, 1, 15, 30), 'customer_id': 3, 'clerk_id': '190003', 'total': 400, 'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200}, {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]}
{'_id': ObjectId('5d344a6d0b6d5c4c59e624e7'), 'transaction_date': datetime.datetime(2019, 7, 1, 15, 30), 'customer_id': 4, 'clerk_id': '190004', 'total': 400, 'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200}, {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]}
{'_id': ObjectId('5d344a6d0b6d5c4c59e624e8'), 'transaction_date': datetime.datetime(2019, 7, 1, 16, 30), 'customer_id': 5, 'clerk_id': '190001', 'total': 400, 'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200}, {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]}
{'_id': ObjectId('5d344a6d0b6d5c4c59e624e9'), 'transaction_date': datetime.datetime(2019, 7, 1, 17, 30), 'customer_id': 6, 'clerk_id': '190006', 'total': 400, 'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200}, {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]}
{'_id': ObjectId('5d344a6d0b6d5c4c59e624ea'), 'transaction_date': datetime.datetime(2019, 7, 1, 18, 30), 'customer_id': 7, 'clerk_id': '190005', 'total': 400, 'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200}, {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]}

#### 1b) Define the function  `create_sales_order(collection, shopping_cart)` and test with a new shopping cart dictionary

(10 points)

In [18]:
new_shopping_cart = {
    "transaction_date":datetime.strptime('Jul 2 2019  8:30AM', '%b %d %Y %I:%M%p'),
     "customer_id":3,
     "clerk_id":"190002",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":2,
             "subtotal":400
         }
     ]
    }

In [19]:
# define function here

def create_sales_order(collection, shopping_cart):
    return collection.insert_one(shopping_cart)

In [20]:
# test your new function here:

create_sales_order(sales_orders_col, new_shopping_cart)

# inspect whole sales_order collection
[s for s in sales_orders_col.find({})]

[{'_id': ObjectId('5d344a6d0b6d5c4c59e624e4'),
  'transaction_date': datetime.datetime(2019, 7, 1, 13, 30),
  'customer_id': 1,
  'clerk_id': '190002',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d344a6d0b6d5c4c59e624e5'),
  'transaction_date': datetime.datetime(2019, 7, 1, 13, 35),
  'customer_id': 2,
  'clerk_id': '190001',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d344a6d0b6d5c4c59e624e6'),
  'transaction_date': datetime.datetime(2019, 7, 1, 15, 30),
  'customer_id': 3,
  'clerk_id': '190003',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d344a6d0b6d5c4c59e624e7'),
  'transaction_date': datetime.datetime(2019, 7, 1, 15, 30),
  'customer_id': 4,
  'clerk_id': '190004',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d344a6d0b6d5c4c59e624e8'),
  'transaction_date': datetime.datetime(2019, 7, 1, 16, 30),
  'customer_id': 5,
  'clerk_id': '190001',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d344a6d0b6d5c4c59e624e9'),
  'transaction_date': datetime.datetime(2019, 7, 1, 17, 30),
  'customer_id': 6,
  'clerk_id': '190006',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d344a6d0b6d5c4c59e624ea'),
  'transaction_date': datetime.datetime(2019, 7, 1, 18, 30),
  'customer_id': 7,
  'clerk_id': '190005',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d344b1c0b6d5c4c59e624eb'),
  'transaction_date': datetime.datetime(2019, 7, 2, 8, 30),
  'customer_id': 3,
  'clerk_id': '190002',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 2, 'subtotal': 400}]}]

### 2) Determine commissions of clerks from sales orders

Assuming each salesperson/clerk gets 1% of gross sales, list potentential commissions earned per sales order.

In [25]:
# do a quick dump of sales orders showing just the clerk id and total amount per sales order
[o for o in sales_orders_col.find({},{"_id":0,"clerk_id":1,"total":1})]

[{'clerk_id': '190002', 'total': 400},
 {'clerk_id': '190001', 'total': 400},
 {'clerk_id': '190003', 'total': 400},
 {'clerk_id': '190004', 'total': 400},
 {'clerk_id': '190001', 'total': 400},
 {'clerk_id': '190006', 'total': 400},
 {'clerk_id': '190005', 'total': 400},
 {'clerk_id': '190002', 'total': 400}]

If you wish to display the name of the clerk, let's apply a lookup function

In [26]:
def employee_lookup(x):
    employee = employees_col.find_one({"employee_id":x})
    return "{}, {}".format(employee["last_name"], employee["first_name"])

commission_rate = 0.01

[{employee_lookup(o["clerk_id"]):{"total":o["total"], "commissions":o["total"]*.01}} for o in sales_orders_col.find({},{"_id":0,"clerk_id":1,"total":1})]

[{'Uy, Chums': {'total': 400, 'commissions': 4.0}},
 {'Olpoc, Bong': {'total': 400, 'commissions': 4.0}},
 {'Gonzales, Joaqs': {'total': 400, 'commissions': 4.0}},
 {'Ilagan, Joben': {'total': 400, 'commissions': 4.0}},
 {'Olpoc, Bong': {'total': 400, 'commissions': 4.0}},
 {'Chan, Stephen': {'total': 400, 'commissions': 4.0}},
 {'Uy, Sean': {'total': 400, 'commissions': 4.0}},
 {'Uy, Chums': {'total': 400, 'commissions': 4.0}}]

#### 2a) Generate a csv file containing total commissions earned per employee

Go wild, be creative. Whether you generate the aggregate totals through accumulation (via regular iterators), Pandas dataframes, or through MongoDB aggregations, it's up to you.

The file must be saved as **commissions.csv"

The csv must have the following format:
```
last_name,first_name,total_sales,total_commissions
```

(20 points)

In [60]:
# Scratch Cell

sales_tally = {}

for o in sales_orders_col.find({},{"_id":0,"clerk_id":1,"total":1}):
    #print(o["clerk_id"])
    sales_tally[o["clerk_id"]] = 0

for o in sales_orders_col.find({},{"_id":0,"clerk_id":1,"total":1}):
    sales_tally[o["clerk_id"]] += o["total"]
    
print(sales_tally)

commissions_tally = {}

for o in sales_orders_col.find({},{"_id":0,"clerk_id":1,"total":1}):
    #print(o["clerk_id"])
    commissions_tally[o["clerk_id"]] = 0

for o in sales_orders_col.find({},{"_id":0,"clerk_id":1,"total":1}):
    commissions_tally[o["clerk_id"]] += (o["total"]*0.01)
    
print(commissions_tally)

{'190002': 800, '190001': 800, '190003': 400, '190004': 400, '190006': 400, '190005': 400}
{'190002': 8.0, '190001': 8.0, '190003': 4.0, '190004': 4.0, '190006': 4.0, '190005': 4.0}

In [73]:
# Scratch Cell

name_sales = {}

for x in employees_col.find():
    for y in sales_tally:
        #print(x["employee_id"],y)
        if x["employee_id"] == y:
            name_sales[x["first_name"]] = sales_tally[y]

print(name_sales)
            
name_commissions = {}

for x in employees_col.find():
    for y in commissions_tally:
        #print(x["employee_id"],y)
        if x["employee_id"] == y:
            name_commissions[x["first_name"]] = commissions_tally[y]
            
print(name_commissions)

{'Bong': 800, 'Chums': 800, 'Joaqs': 400, 'Joben': 400, 'Sean': 400, 'Stephen': 400}
{'Bong': 8.0, 'Chums': 8.0, 'Joaqs': 4.0, 'Joben': 4.0, 'Sean': 4.0, 'Stephen': 4.0}

In [79]:
first_names = []
for x in employees_col.find():
    #print(x["first_name"])
    first_names.append(x["first_name"])
print(first_names)

last_names = []
for x in employees_col.find():
    #print(x["last_name"])
    last_names.append(x["last_name"])
print(last_names)

total_sales = []

for x in first_names:
    for y in name_sales:
        if x == y:
            total_sales.append(name_sales[y])
print(total_sales)

total_commissions = []

for x in first_names:
    for y in name_commissions:
        if x == y:
            total_commissions.append(name_commissions[y])
print(total_commissions)

['Bong', 'Chums', 'Joaqs', 'Joben', 'Sean', 'Stephen']
['Olpoc', 'Uy', 'Gonzales', 'Ilagan', 'Uy', 'Chan']
[800, 800, 400, 400, 400, 400]
[8.0, 8.0, 4.0, 4.0, 4.0, 4.0]

In [84]:
import pandas as pd

employee_df = pd.DataFrame({"last_name":last_names,"first_name":first_names,"total_sales":total_sales,"total_commissions":total_commissions})

employee_df

  last_name first_name  total_sales  total_commissions
0     Olpoc       Bong          800                8.0
1        Uy      Chums          800                8.0
2  Gonzales      Joaqs          400                4.0
3    Ilagan      Joben          400                4.0
4        Uy       Sean          400                4.0
5      Chan    Stephen          400                4.0

In [ ]:
employee_df.to_csv("commissions.csv", index = False)

In [91]:
employee_df.dtypes

last_name             object
first_name            object
total_sales            int64
total_commissions    float64
dtype: object

#### 2b) Generate a payslip per clerk

Each clerk must receive a payslip (as represented by separate files with the format <employee id>-commissions.html) containing the following:
    
```
<html>
   <div>{first_name} {last_name}</div><br/>
   <div id="total_sales">
       <div>Total Sales: </div><div>{total_sales}</div>
   <div><br/>
   <div id="total_commissions">
       <div>Total Commissions: </div><div>{total_commissions}
   <div><br/>
</html>
```

(20 points)

In [92]:
stats_html = """

<html>
   <div>{first_name} {last_name}</div><br/>
   <div id="total_sales">
       <div>Total Sales: </div><div>{total_sales}</div>
   <div><br/>
   <div id="total_commissions">
       <div>Total Commissions: </div><div>{total_commissions}
   <div><br/>
</html>

"""

with open('B-Olpoc-commissions.html',"w+") as file:
    content_html = stats_html.format(first_name = employee_df.iloc[0,1], last_name = employee_df.iloc[0,0], total_sales = employee_df.iloc[0,2], total_commissions = employee_df.iloc[0,3])
    file.write(content_html)

In [94]:
stats_html = """

<html>
   <div>{first_name} {last_name}</div><br/>
   <div id="total_sales">
       <div>Total Sales: </div><div>{total_sales}</div>
   <div><br/>
   <div id="total_commissions">
       <div>Total Commissions: </div><div>{total_commissions}
   <div><br/>
</html>

"""

with open('C-Uy-commissions.html',"w+") as file:
    content_html = stats_html.format(first_name = employee_df.iloc[1,1], last_name = employee_df.iloc[1,0], total_sales = employee_df.iloc[1,2], total_commissions = employee_df.iloc[1,3])
    file.write(content_html)

In [95]:
stats_html = """

<html>
   <div>{first_name} {last_name}</div><br/>
   <div id="total_sales">
       <div>Total Sales: </div><div>{total_sales}</div>
   <div><br/>
   <div id="total_commissions">
       <div>Total Commissions: </div><div>{total_commissions}
   <div><br/>
</html>

"""

with open('J-Gonzales-commissions.html',"w+") as file:
    content_html = stats_html.format(first_name = employee_df.iloc[2,1], last_name = employee_df.iloc[2,0], total_sales = employee_df.iloc[2,2], total_commissions = employee_df.iloc[2,3])
    file.write(content_html)

In [96]:
stats_html = """

<html>
   <div>{first_name} {last_name}</div><br/>
   <div id="total_sales">
       <div>Total Sales: </div><div>{total_sales}</div>
   <div><br/>
   <div id="total_commissions">
       <div>Total Commissions: </div><div>{total_commissions}
   <div><br/>
</html>

"""

with open('J-Ilagan-commissions.html',"w+") as file:
    content_html = stats_html.format(first_name = employee_df.iloc[3,1], last_name = employee_df.iloc[3,0], total_sales = employee_df.iloc[3,2], total_commissions = employee_df.iloc[3,3])
    file.write(content_html)

In [97]:
stats_html = """

<html>
   <div>{first_name} {last_name}</div><br/>
   <div id="total_sales">
       <div>Total Sales: </div><div>{total_sales}</div>
   <div><br/>
   <div id="total_commissions">
       <div>Total Commissions: </div><div>{total_commissions}
   <div><br/>
</html>

"""

with open('S-Uy-commissions.html',"w+") as file:
    content_html = stats_html.format(first_name = employee_df.iloc[4,1], last_name = employee_df.iloc[4,0], total_sales = employee_df.iloc[4,2], total_commissions = employee_df.iloc[4,3])
    file.write(content_html)

In [98]:
stats_html = """

<html>
   <div>{first_name} {last_name}</div><br/>
   <div id="total_sales">
       <div>Total Sales: </div><div>{total_sales}</div>
   <div><br/>
   <div id="total_commissions">
       <div>Total Commissions: </div><div>{total_commissions}
   <div><br/>
</html>

"""

with open('S-Chan-commissions.html',"w+") as file:
    content_html = stats_html.format(first_name = employee_df.iloc[5,1], last_name = employee_df.iloc[5,0], total_sales = employee_df.iloc[5,2], total_commissions = employee_df.iloc[5,3])
    file.write(content_html)